{% extends "layout.html" %}

{% block content %}
  {% from "_formhelpers.html" import render_text_field %}
  {% from "_formhelpers.html" import render_radio_field %}
  {% from "_formhelpers.html" import render_submit_field %}
  <div class="add-user-layout add-company-layout">
    <form method="post" enctype="multipart/form-data" action="{{ url_for('add_user') }}" class="add-user">
      <dl class="entries">
        <div class="right-and left">
          <div class="title-field">
            {{ render_text_field(add_user_form.username) }}
          </div>
          <div class="title-field">
              {{ render_text_field(add_user_form.password) }}
          </div>
          <div class="title-field">
              {{ render_text_field(add_user_form.confirm_password) }}
            </dd>
          </div>
          <div class="title-field">
              {{ render_text_field(add_user_form.email) }}
          </div>
          <div class="title-field">
              {{ render_text_field(add_user_form.name) }}
          </div>
          <div class="title-field">
              {{ render_text_field(add_user_form.surname) }}
          </div>
          <div class="title-field">
              {{ render_text_field(add_user_form.contact) }}
          </div>
          <div class="title-field">
              {{ render_radio_field(add_user_form.gender) }}
          </div>
          <div class="title-field">
              {{ render_radio_field(add_user_form.privilege) }}
          </div>
        </div>
      </dl>
      <div class="user-bottom">
        {{ render_text_field(add_user_form.avatar) }}
        {{ render_submit_field(add_user_form.submit) }}
      </div>
    </form>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
