{% extends "layout.html" %}

{% block content %}
  <div class="add-company-layout">
    <form method="post" enctype="multipart/form-data" action="{{ url_for('add_company', company_id=company_id) }}" class="add-company">
      <dl class="entries">
        <div class="left">
          <dt class="add-company-label name">COMPANY NAME</dt>
          <dd>
            <input value="{{ data.get('name', '') }}" name="name" class="add-company- inputadd -name" placeholder="Company name (max 20 characters)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company name (max 20 characters)'" rows=1 cols=20 maxlength=20  />
          </dd>
          <dt class="add-company-label adress">COMPANY ADRESS</dt>
          <dd>
            <textarea name="adress" class= "add-company- inputadd -adress" placeholder="Enter the adress where clients can find you (max 120 characters)" onfocus="this.placeholder=''" onblur="this.placeholder = 'Enter the adress where clients can find you (max 120 characters)'" maxlength=120>{{ data.get('adress', '') }}</textarea>
          </dd>
          <dt class="add-company-label description">COMPANY DESCRIPTION</dt>
          <dd>
            <textarea name="description" class="add-company- inputadd -description" placeholder="Enter a short description for your company (max 150 characters)" onfocus="this.placeholder = None" onblur="this.placeholder = 'Enter a short description for your company (max 150 characters)'" type=textarea maxlength=150>{{ data.get('description', '') }}</textarea>
          </dd>
          <dt class="add-company-label description">COMPANY CATEGORY</dt><br />
          <select name="category_id" class="select-category">
            <option disabled selected value>-- select category --</option>
            {% for category in categories %}
              {% if category.type == data.get('category', '') %}
                <option value="{{ category.id }}" selected="selected">{{ category.type }}</option>
              {% else %}
                <option value="{{ category.id }}">{{ category.type }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <br>
          <dt class="add-company-label details">COMPANY DETAILS</dt>
          <dd>
            <textarea name="details" class="add-company- inputadd -details" placeholder="Enter a detailed description about your company (max 2000 characters)" onfocus="this.placeholder = None" onblur="this.placeholder = 'Enter a detailed description about your company (max 2000 characters)'" rows=20 cols=80 maxlength=2000>{{ data.get('details', '') }}</textarea>
          </dd>
          <div class="add-logo-submit">
            <div class="addlogo">
              <p class="add-company-label logo">
                COMPANY LOGO
              </p>
              <input name="logo" class="add-company- inputadd -logo" type=file accept="image/*"/>
            </div>
            <div>
              <button type="submit" class="submit-button">{{ button_text }}</button>
            </div>
        </div>
        </div>
      </dl>
    </form>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
