{% extends "layout.html" %}

{% block content %}
  {% from "_formhelpers.html" import render_text_field %}
  {% from "_formhelpers.html" import render_submit_field %}
  <div action="{{ url_for('details', company_id=company.id) }}"  class="company-details" >
    <div class="details-title-logo">
      <div class="title-edit">
        <div class="details-presentation-title">
          {% if company.logo == "default.jpg" %}
            <img class="company-image" src="../static/Defaults/company/default.jpg" />
          {% else %}
              <img class="company-image" src="../static/images/{{ company.logo }}" />
          {% endif %}
          <p class="details-title">
            {{ company.name }}
          </p>
        </div>
        <div class="edit-company-details">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <a href="{{ url_for('add_company', company_id=company.id) }}" class="edit-button">EDIT COMPANY</a>
        </div>
      </div>
      <div class="overall-rating-company">
        <p class=title-rating>
          Overall rating
        </p>
      </div>
      <div class="details-adress-category">
         <div class="company-adress">
           <p class="adress-title">
            company adress
           </p>
           <p class="adress-body">
            {{ company.adress }}
           </p>
         </div>
         <div class="added-and-category">
           <div class="company-category">
              <p class="category-class">
                CATEGORY:
              </p>
              <a href="" class="go-to-details category">{{ category }}</a>
           </div>
           <div class="company-category">
              <p class="category-class">
                ADDED BY:
              </p>
              <a href="" class="go-to-details user-added-by">{{ added_by_user }}</a>
           </div>
         </div>
      </div>
      <p class="details-read-only">
        DETAILS
      </p>
      <div class="details-description">
        <p class="details-description-text">
          {{ company.details }}
        </p>
      </div>
    </div>
    <div class="details-reviews-body">
      <div class="reviews-top">
        <h1 class='title-reviews'>REVIEWS</h1>
          <ul class = "review-list">
            {% for review in reviews %}
              <li class="details-reviews">
                <div class="username-avatar">
                  <h2 class="details-user">
                    {{ review.user.username }}
                  </h2>
                  <div class="review-avatar-container">
                    <img width="1400" height="1400" src="../static/Avatars/{{ review.user.avatar }}" class="review-avatar">
                  </div>
                </div>
                <p class="details-user-review">
                  {{ review.message|safe }}
                </p>
              </li>
              {% else %}
              <li class="details-reviews"><em class="details-reviews" >NO REVIEWS YET</em></li>
            {% endfor %}
          </ul>
      </div>
      <form method="post" enctype="multipart/form-data" action="{{ url_for('details', company_id=company.id) }}" class="reviews-bottom">
        <div class="enter-text-review-button">
            {{ render_text_field(add_review_form.message)}}
            {{ render_submit_field(add_review_form.submit)}}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
