<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset=“UTF-8“ />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {% block header %}
      <div class="header">
        <div class="title-area">
          <nav class='navigation'>
            <input type="checkbox" id="navToggle" />
            <label for="navToggle" class="nav-toggle">&#9776</label>
            <ul class='navlist'>
              <li><a href="/home">HOME</a></li>
              <li><a href="#">LOG IN</a></li>
              <li><a href="#">SEARCH COMPANY</a></li>
              <li><a href="/add/company">ADD COMPANY</a></li>
              <li><a href="#">ABOUT</a></li>
            </ul>
          </nav>
          <div class="home-title">
            <h1 class="title">WELCOME TO FIRMWARE</h1>
            <h2 class="subtitle">THE BIGGEST SERVICE FINDER ONLINE</h2>
          </div>
          <div class="header-buttons">
            <input type=submit value="profile pic" class="header-button -profile-pic"></input>
            <input type=submit value="LOG IN" class="header-button -log-in"></input>
            <a href="{{ url_for('add_user') }}" type=submit value="NEW ACCOUNT" class="header-button -new-account">
              <p class="button-label">
                NEW ACCOUNT
              </p>
            </a>
          </div>
        </div>
        <div class="alerts">
          {% if errors %}
            {% for key,value in errors.items() %}
              <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  {{ value }}
              </div>
            {% endfor %}
            <span class="closebtnall" onclick="this.parentElement.style.display='none';">&times;</span>
          {% endif %}
          {% with messages=get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert-flash">
                  <span class="closebtn-flash" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    {% endblock %}

    {% block banner %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
      <div class="pagination">
        <a href="#/">&laquo;</a>
        <a href="#/">1</a>
        <a href="#/">2</a>
        <a href="#/">3</a>
        <a href="#/">4</a>
        <a href="#/">5</a>
        <a href="#/">6</a>
        <a href="#/">&raquo;</a>
      </div>
    {% endblock %}
  </body>
</html>
