{% extends "layout.html" %}

{% block content %}
  {% from "_formhelpers.html" import render_text_field %}
  {% from "_formhelpers.html" import render_submit_field %}
  <form method="post" enctype="multipart/form-data" action="{{ url_for('login') }}" class="login-data">
    <div class="enter-user">
        <div class="title-field">
          {{ render_text_field(login_form.username) }}
        </div>
      <div class="title-field">
        {{ render_text_field(login_form.password) }}
      </div>
      <div class="user-login">
        {{ render_submit_field(login_form.submit) }}
      </div>
    </div>
  </form>
{% endblock %}

{% block footer %}
{% endblock %}
