{% extends "layout.html" %}

{% block content %}
  <div class="login-data">
    <div class="enter-user">
      <div class="log-fields">
        <div class="add-user-label -login">
          USERNAME
        </div>
        <textarea name="username" class="add-user --input-new-user -username-login" placeholder="Enter username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter username'" maxlength=20></textarea></textarea>
      </div>
      <div class="log-fields">
        <div class="add-user-label -login">
          PASSWORD
        </div>
        <input type=password name="password" class= "add-user --input-new-user -username-login" placeholder="Enter password" onfocus="this.placeholder=''" onblur="this.placeholder = 'Enter password'" maxlength=120>
      </div>
      <input type="submit" value="LOG IN" class="submit-button -login-submit"></input>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
