* {
  padding: 0px;
  border: 0;
  margin: 0;
  height: auto;
  font-family: 'Roboto', sans-serif;
}

html {
  position: absolute;
}

footer {
  position: relative;
  z-index: 3001;
  width:100%;
  height: 50px;
  background: rgb(45, 45, 45);
  top:1000px;
}

body {
  background-color: rgb(113, 113, 113);
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  overflow-x: : scroll;
}

.header {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100px;
}

.home-title {
  position:fixed;
  left: +230px;
  font-size: 20px;
  background-color: rgb(69, 67, 67);
  color: rgb(0, 194, 255);
  width:100%;
  z-index: 20;
}

.subtitle {
  font-size: 20px;
  margin-top: -3px;
  color: rgb(213, 213, 213);
  height: 30px;
}

.navigation {
  position: fixed;
  text-align: center;
  width: 15%;
  top: -6px;
  background-color: rgb(69, 67, 67);
}

.navigation a {
  color: rgb(0, 194, 255);
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 15px 45px 15px 45px;
  border: 1px solid rgb(0, 0, 0);
  border-bottom: none;
  border-left: none;
  border-right: none;
  font-weight: bold;
}

.navigation a:hover {
  color: rgb(236, 236, 236);
  background-color: rgb(113, 172, 201);
}

.navlist {
  position: fixed;
  text-align: center;
  color: color: rgb(0, 194, 255);
  background-color: rgb(69, 67, 67);
  list-style: none;
  z-index: 2;
  top:-250px;
  transition: all .3s ease-in-out;
}

#navToggle {
  display: none;
 }

.nav-toggle
{
  position: fixed;
  top:-6px;
  left: 0px;
  padding-left: 60px;
  margin-right: 40px;
  font-size: 60px;
  cursor: pointer;
  text-align: center;
  padding-right: 120px;
  background-color: rgb(69, 67, 67);
  z-index: 3
}

#navToggle:checked ~ .navlist {
  position: fixed;
  left: 0px;
  top: 73px;
  text-align: center;
}

.banner {
  position: relative;
  background: rgb(137, 167, 173);
  width:100%;
  height: 450px;
  top: 74px;
  z-index: -1;
  background-image: url("../static/images/c1.png");
  background-size: cover;
}

.content {
  overflow-x: scroll;
  max-width: auto;
  position:absolute;
  bottom: 50px;
  padding: 20px 20px;
  width:100%;
  height:500px;
  z-index: 0;
  top:475px;
  background: rgb(236, 236, 236);
}

.company-image {
  width: 120px;
  height: 120px;
  max-width: 120px;
  max-height: 120px;
  float:left;
  margin-right: 2px;
  margin-bottom: 0;
  margin-top: 0;
}

.companies {
  position:relative;
  top: 80px;
  padding: 10px;
  margin-left: 30px;
  width:100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}

.pagination {
  display: block;
  position: relative;
  margin-top: 100px;
  width: 100%;
}

.pagination a {
  color: rgb(94, 188, 255);
  float: left;
  padding: 8px 20px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a:active {
  color: white;
  background: rgb(0, 147, 41);
}

.pagination a:hover:not(.active) {
  background-color:rgb(113, 172, 201);
}

.rating {
  width: 130px;
  margin-top: 8px;
}

.company {
  background-color: rgb(236, 236, 236);
  width: 400px;
  padding: 30px 30px;
  margin: 5px;
}

.company-left {
  display: inline-flex;
  flex-direction: column;
  float: left;
}

.company-details {
  position:  absolute;
  width: 300px;
  margin-left: 140px;
  margin-top: 30px;
  word-wrap: break-word;
  text-align: left;
  float: right;
}

.company {
  background-color: rgb(236, 236, 236);
  transition: background-color 0.2s;
  width: 400px;
  padding: 30px 30px;
  margin: 5px;
  transition: all 0.4s;
}

.company:hover {
  background: rgb(117, 201, 255);
  cursor: pointer;
  border-radius: 25px;
}

.company-title {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.company-page {
  position: relative;
  overflow-x: scroll;
  text-overflow: scroll;
  display: flex;
  justify-content: center;
  align-items:center;
}

.company-left-side {
  margin-top: 100px;
  position: relative;
  width: 50%;
  float:left;
  min-width: 30px;
}

.company-right-side {
  position: relative;
  width: 50%;
  float: right;
  margin-left: 60px;
  margin-bottom: 20px;
  max-height: 600px;
  overflow-x: auto;
  min-width: 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.company-detail-title {
  position: relative;
  margin-top: 100px;
  margin-bottom: -20px;
  padding-right: 0px;
  font-size: 100px;
  display: flex;
  align-items: baseline;
  flex-flow: row;
  justify-content: center;
}

.company-detail-description {
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  display: inline-flex;
  max-width: 1000px;
  max-height: 500px;
}

.company-detail-text {
  font-size: 30px;
  overflow: auto;
  margin-bottom: 80px;
  margin-top: 130px;
  border: 2px solid black;
  padding:10px;
  background: rgba(133, 133, 123, 0.9)
}

.company-detail-subtitle {
  position: absolute;
  font-size: 50px;
  text-decoration: underline;
}

.detail-logo {
  position: relative;
  max-width: 200px;
  max-height: 200px;
  float: left;
  border: 5px solid #000;
  margin-right: 40px;
}

.company-reviews {
  border: 2px solid black;
  width: 100%;
  max-width: 800px;
  overflow-x: scroll;
  padding: 20px;
  scroll-behavior: smooth;
  max-height: 700px;
}

.review {
  max-height: 120x;
  height: 120px;
  overflow: auto;
  margin-bottom: 30px;
  margin-right: 100px;
  scroll-behavior: smooth;
}

.rating-review {
  position: fixed;
  margin: 10px;
  padding-right: 400px;
  background-color: rgb(179, 185, 170);
}

.company-review-title {
  font-size: 40px;
  margin-bottom: 50px;
}

.author {
  margin-bottom: 10px;
  text-decoration: underline;
}
.overall-review {
  margin-top: 20px;
}

.banner-image {
  position: absolute;
  max-height: 450px;
  background-size: cover;
}
