{% extends "layout.html" %}

{% block content %}
  <div action="{{ url_for('details', company_id=company.company_id) }}"  class="company-details" >
    <div class="details-title-logo">
      <div class="details-presentation-title">
        <img class="details-logo" src="../static/images/{{ company.company_logo }}" />
        <p class="details-title">
          {{ company.company_name }}
        </p>
      </div>
      <div class="overall-rating-company">
        Overall rating: {{ company.company_rating }}
        <form id="ratingsForm">
          <div class="stars">
            <input type="radio" name="star" class="star-1" id="star-1" /><label for="star-5" class="star-1">1</label>
            <input type="radio" name="star" class="star-2" id="star-2" /><label for="star-4" class="star-2">2</label>
            <input type="radio" name="star" class="star-3" id="star-3" /><label for="star-3" class="star-3">3</label>
            <input type="radio" name="star" class="star-4" id="star-4" /><label for="star-2" class="star-4">4</label>
            <input type="radio" name="star" class="star-5" id="star-5" /><label for="star-1" class="star-5">5</label>
            <span></span>
          </div>
        </form>
      </div>
      <div class="details-description">
        <p class="details-description-text">
          {{ company.company_details }}
        </p>
      </div>
    </div>
    <div class="details-reviews-body">
      <h1 class='title-reviews'>REVIEWS</h1>
        <ul class = "review-list">
          {% for review in reviews %}
            <li class="details-reviews">
              <h2 class="details-user">
                {{ review.user }}
              </h2>
              <p class="details-user-review">
                {{ review.review|safe }}
              </p>
            </li>
            {% else %}
            <li class="details-reviews"><em class="details-reviews" >NO REVIEWS YET</em></li>
          {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
