{% extends "layout.html" %}

{% block banner %}
  <div class="banner">
  </div>
{% endblock %}

{% block content %}
  <div class="companies">
    {% for company in companies %}
      <a href="{{ url_for('show_details', company_id=company.company_id) }}">
        <div class="company">
          <div class="company-left">
            <img class="company-image" src="../static/images/{{ company.company_logo }}.jpg" />
            <fieldset class="rating">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="AMAZING!">5</label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="NB BRAH">4</label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="SO-SO">3 </label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="LAME">2 </label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="HORRIBLE">1</label>
            </fieldset>
          </div>
          <p class="company-home-details">
            {{ company.company_description }}
          </p>
          <h3 class="company-title">{{ company.company_name }}</h3>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
