<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset=“UTF-8“ />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  {% block header %}
    <div class="header">
      <div class="home-title">
        <h1 class="title">WELCOME TO FIRMWARE</h1>
        <h2 class="subtitle">THE BIGGEST SERVICE FINDER ONLINE</h2>
      </div>
      <nav class='navigation'>
        <input type="checkbox" id="navToggle" />
        <label for="navToggle" class="nav-toggle">&#9776</label>
        <ul class='navlist'>
          <li><a href="#">HOME</a></li>
          <li><a href="#">SIGN IN</a></li>
          <li><a href="#">SEARCH COMPANY</a></li>
          <li><a href="#">ADD COMPANY</a></li>
          <li><a href="#">ABOUT</a></li>
        </ul>
      </nav>
    </div>
  {% endblock %}

  {% block banner %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
    <div class="pagination">
      <a href="#/">&laquo;</a>
      <a href="#/">1</a>
      <a href="#/">2</a>
      <a href="#/">3</a>
      <a href="#/">4</a>
      <a href="#/">5</a>
      <a href="#/">6</a>
      <a href="#/">&raquo;</a>
    </div>
  {% endblock %}
</html>
